{% extends "base.html" %}

{% import "_macros.html" as macros %}


{% block title %}Enterobase - Edit users{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit Users</h1>
   
      <div id="UserTableContainer"></div>
         <BR>
         <div class="filtering">
            <form>
            
               <select id = "filter_type">
               
                    <option value="firstname">firstname</option>
                    <option value="lastname">lastname</option>
                    <option value="email">email</option>
                </select>
                contains
                <input type="text" name="name" id="name" />
       
                <button type="submit" id="LoadRecordsButton">Filter</button>
            </form>
           
        </div>
    </div>
 
    
   
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<link href={{url_for("static",filename="jtable/themes/metro/blue/jtable.css")}} rel="stylesheet" type="text/css" />
<!-- Include jTable script file. -->
<script src="//code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<script src={{url_for("static",filename='jtable/jquery.jtable.js')}} type="text/javascript"></script>

<script type="text/javascript">
    function get_icon(x){
        if (typeof x === 'string'){
            if (x==='true'){
                x= Boolean(1)
            }
            else{
                x=  Boolean(0)
            }                                   
        }         
        if (x){                           
            return '<span class="glyphicon glyphicon-ok"></span>';
        }                      
        return  '<span class="glyphicon glyphicon-remove"></span>';   
    }
    
 
    $(document).ready(function () {
    
    //function for adding a new buddy
   
  
  
 
        $('#UserTableContainer').jtable({
            selecting:true,
            paging: true, //Enable paging
            pageSize: 10, //Set page size (default: 10)
            sorting: true, //Enable sorting
            defaultSorting: 'lastname ASC', //Set default sorting
            actions: {
                listAction: '/auth/list_users',
                updateAction: '/auth/update_buddy'
               
            },
            fields: {
            
                id:{
                    key: true,
                    create: false,
                    edit: false,
                    list: false    
                },
                username: {
                    title:'Username',
                    width:'10%'
                    
                },
                firstname: {
                    title:'First Name',
                    width:'10%'
                    
                },
                
                lastname: {
                    title: 'Last Name',
                    width: '10%'
                },
                email: {
                    title: 'Email address',
                    width: '10%'
                },
                department:{
                    title: 'Department',
                    width: '10%'
                },
                institution:{
                    title: 'Institution',
                    width: '10%'
                },
                city:{
                    title: 'City',
                    width: '10%'
                },
                country:{
                    title: 'Country',
                    width: '10%'
                
                },
                permissions: {
                    title: 'P',
                    width: '1%',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (userdata) {
                        //Create an image that will be used to open child table
                        var $img = $('<img src={{url_for("static",filename="images/auth/lock.png")}}/>');
                        //Open child table when user clicks the image
                        $img.click(function () {
                            $('#UserTableContainer').jtable('openChildTable',
                                    $img.closest('tr'),
                                    {
                                        title: userdata.record.username + ' - Permissions',
                                        actions: {
                                            listAction: '/auth/list_permissions?userid=' + userdata.record.id,      
                                            updateAction: '/auth/update_permissions',
                                           
                                        },
                                        fields: {                                          
                                            user_id: {
                                                key: true,
                                                create: false,
                                                edit: false,
                                                list: false
                                            },
                                            modify_isolates:{
                                                title: "Modify isolates",
                                                type: "checkbox",
                                                values: { 'false': 'Deny', 'true': 'Allow' },
                   
                                                display: function (data) {
                                                    x= get_icon(data.record.modify_isolates); 
                                                    return x;
                                                }
                                            },
                                            
                                             modify_schemes:{
                                                title: "Modify schemes",
                                                type: "checkbox",
                                                values: { 'false': 'Deny', 'true': 'Allow' },
                   
                                                display: function (data) {
                                                    x= get_icon(data.record.modify_schemes); 
                                                    return x;
                                                }
                                            },
                                             modify_loci:{
                                                title: "Modify loci",
                                                type: "checkbox",
                                                values: { 'false': 'Deny', 'true': 'Allow' },
                   
                                                display: function (data) {
                                                    x= get_icon(data.record.modify_loci); 
                                                    return x;
                                                }
                                            }
                                            
                                            
                                      
                                            } 
                                            
                
                                        },
                                     function (data) { //opened handler
                                        data.childTable.jtable('load');
                                    });
                        });
                        //Return image to show on the person row
                        return $img;
                    }
                }
                
                
                
                
            }
        });
         $('#LoadRecordsButton').click(function (e) {
            e.preventDefault();
           
            $('#UserTableContainer').jtable('load',
            { filter:JSON.stringify([$('#filter_type').val(),$('#name').val()]),
              
               }
            );
        });
        //Load student list from server
        $('#UserTableContainer').jtable('load');
        
        
      
        
        
        
        
    });

</script>
{% endblock %}