                         <li>
                            <a href='/'>
                            <i class="fa fa-home fa-fw"></i> 
                             Site Home
                            </a>
                        </li>
                        {% if current_user.is_authenticated() and current_user.administrator == 1 %}
                             <li>
                            <a href="#"> <span class="fa arrow"></span>
                                <i class="fa fa-male fa-fw"></i> 
                                Admin Tasks
                            </a>
                            <ul class="nav nav-second-level collapse in">
                                <li>
                                    <a href='/admin'>
                                     <i class="fa fa-database fa-fw"></i> 
                                    Admin Home
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#"> <span class="fa arrow"></span>
                                <i class="fa fa-database fa-fw"></i> 
                                Databases
                            </a>
                        <ul class="nav nav-second-level">                            
                        {{ layout.menu() }}
                            </ul>
                        </li>                        
                        
                        {% endif %}


