{% extends "bsl_base.html" %}
{% block head %}
{{super()}}
<style>
td{
    padding:3px;
}

</style>
{% endblock %}
{% block scripts %}

    {{ super() }}
    <script src="/static/js/main/7_gene_allele.js"></script>
    <script>
      var allele_values = {}
      {%for allele in alleles%}
      allele_values["{{allele}}"]=0;
      {%endfor %}
       scheme_url = "{{scheme_url}}"     
      var database = "{{database}}"
      var complex_name =(database==='senterica')?"eBG":"ST complex"
      $(window).load(function(){
          $("#get-info-button").click(function(e){
                handleAlleleSubmission();
          
          
          });
          $("#find-sts").click(function(e){
                findSTs();
          
          
          });
          if (database === 'senterica'){
                $("#complex-name").text("eBG");
          }
      
      
      });
      
      function findSTs(){
            if (! getAlleleValues()){
                return;
            }
            to_send={
              alleles:JSON.stringify(allele_values),
              scheme_url:scheme_url,
              limit:$("#related-sts").val(),
              indentical_alleles:$("#identical-alleles").val()
            }
            Enterobase.call_restful_json("/species/"+database+"/legacy_allele_call","POST",to_send,handleError).done(function(data){
                $(".ST-complex-column").show()
                 $(".ST-column").show();
                 $(".other-row").remove();
                
                 var table = $("#allele-table")
                if (data.length ===0 || data[0]['differences']!==0){
                      
                      $("#st-value").text("unknown ST");
                      $("#st-complex-value").text("No " + complex_name);
                }
                else{
                     $("#st-value").text("ST"+data[0]["st"]);
                      $("#st-complex-value").text(data[0]['st_complex']);
                
                }
                for (var a=0;a<data.length;a++){
                    var info = data[a];
                    var tr = $("<tr>").attr("class","other-row");
                    tr.append($("<td>").attr("class","ST-column").text("ST"+info['st']).css({"background-color":"#f6f6f6","border":"2px solid #cfcfcf","font-weight":"bold"}));
                    
                    /*
                    for (var i in info['alleles']){
                        tr.append($("<td>").text(info['alleles'][i]).css({"background-color":"#f6f6f6","border":"2px solid #cfcfcf","font-weight":"bold"}));
                        
                    
                    }
                    */
                    //changed at 2019-01-08
                    for (var i in JSON.parse( to_send['alleles']) ){
                        tr.append($("<td>").text(info['alleles'][i]).css({"background-color":"#f6f6f6","border":"2px solid #cfcfcf","font-weight":"bold"}));
                        
                    
                    }                    
                    
                    tr.append($("<td>").attr("class","ST-complex-column").text(info["st_complex"]).css({"background-color":"#f6f6f6","border":"2px solid #cfcfcf","font-weight":"bold"}));
                    table.append(tr);
                
                }
              
        
        });
      
      
      }      
      
      
      
      function getAlleleValues(){
              for (allele in allele_values){
                  var value = parseInt($("#allele-input-"+allele).val())
                  value = parseInt(value);
                  if (! value || value < -1){
                    return false
                  }
                  allele_values[allele]=value;
              }
              return true;
      
      }
      
      function handleError(msg){
      
      
      }
      
      function testSequence(seq){
         errors=[];
          var re  = /[^ATCGatcg\s]/g
          while ((match=re.exec(seq)!==null)){
              var index = re.lastIndex;
              errors.push([seq.charAt(index-1),index]);
          }
          return errors;
      }
      
      function handleAlleleSubmission(){
        var seq = $("#sequence-input").val();
        var locus  = $("#locus-select").val();
        if (seq){
          var errors =testSequence(seq);
          if (errors.length>0){
            var msg = "Found the following illegal Chars in Sequence string!\n"
            for (var i in errors){
                var error= errors[i];
                msg+= "Found "+ error[0] + " at position " + error[1] +".\n";
            }
            $("#match-info").show().text("").text(msg);
            return;
            
          
          }
          seq=seq.replace(/\s/g,'');
          to_send = {
                 scheme_url:scheme_url,
                 locus:locus,
                 sequence:seq
                 
          
          }
          Enterobase.call_restful_json("/species/"+database+"/legacy_allele_call","POST",to_send,handleError).done(function(data){
              if (data['allele_id']){
                  $("#match-info").hide();
                  $("#allele-input-"+locus).val(data['allele_id']);
                  $("#sequence-input").val("");
              }
              else{
              msg  = 'Your sequence did not match exactly any known '+locus+" allele";
                  $("#match-info").show().text("").text(msg);
                  
              }
        
        
        });
          return;
        }
        if (! getAlleleValues()){
              $("#match-info").show().text("").text("Please Enter a Sequence to check!"); 
              return;
        }
        to_send={
            alleles:JSON.stringify(allele_values),
            scheme_url:scheme_url,
            limit:1,
            indentical_alleles:7
        
        }
        
        Enterobase.call_restful_json("/species/"+database+"/legacy_allele_call","POST",to_send,handleError).done(function(data){
            $(".other-row").remove();
             $(".ST-complex-column").hide()
                 $(".ST-column").hide();
              $("#find-sts").show();
               $("#match-info").hide();
               $("#no-uploading").show();
            
        
        });
              
      }
</script>
    
    
    
    
  
{% endblock %}


{% block maincontent %}
{{ super() }}
{% include "species/legacy_header.html" %}


<table border="0" cellspacing="0" cellpadding="0">
  <tr>
  
    <td align="left" valign="top">
      <div> 
















<p><b><font face="Arial" style="font-size:16px"><em>{{database_name}}</em> MLST Database</font></b>. 
<br><br>


<!-- *****************Hier beginnt die obere Tabelle****************** --></p>
<table border="0" cellspacing="3" cellpadding="3" width="1000">
<tr>
<td>


<!--Hier beginnt die Tabellendarstellung1 -->
<table id = "allele-table" border="0" cellspacing="3" cellpadding="3" style="background-color:#cfcfcf;padding:3px">
<tr id ="allele-table-header">
  <td style="display:none" class= "ST-column"><font size="2" face="Arial" color="#FFFFFF"><b>ST</b></font></td>
{%for allele in alleles%}
  <td><font size="2" face="Arial" color="#FFFFFF"><b><i>{{allele}}</i></b></font>
  </td>
{%endfor%}
<td style="display:none" class= "ST-complex-column"><font size="2" face="Arial" color="#FFFFFF"><b id ='complex-name'>ST Complex</b></font></td>
</tr>

<tr id ="allele-table-first-row">
 <td style="display:none" class= "ST-column"><font size="2" face="Arial" color="#FFFFFF"><b id ="st-value"></b></font></td>
  {%for allele in alleles%}
  
  <td>
    <input type="text" class = 'allele-input' size="3" maxlength="5" id="allele-input-{{allele}}"
           value="">
  </td>

  
  {%endfor%}
<td style="display:none" class= "ST-complex-column"><font size="2" face="Arial" color="#FFFFFF"><b id="st-complex-value"></b></font></td>

</tr>

 
</table>
<!--Hier endet T1 -->

</td><td width="10"></td>


<td align="left" valign="top">

<span id ='find-sts' style= 'display:none'><!-- SP2 --> 
<table border="0" cellspacing="3" cellpadding="3" width="400">
  <tr>
    <td width="100"><font face="Arial" size="2"><u>Number of:</u></font></td>
    <td width="50">&nbsp;</td>
    <td width="250">&nbsp;</td>
  </tr>
  <tr>
    <td width="100"><font face="Arial" size="2">related STs</font></td>
    <td width="50">
      <input type="text" size="4" maxlength="4" value="5"
             id="related-sts">
    </td>

    <td width="250">
      <button id='find-sts'>Find ST</button>
    </td>

  </tr>
  <tr>
    <td width="100"><font face="Arial" size="2">identical alleles</font></td>
    <td width="50">

      
      <input type="text" size="4" maxlength="4" value="1"
            id="identical-alleles">
   
</td>
    <td width="250">
      </td>
  </tr>
<tr>
    <td width="100"></td>
    <td width="50">&nbsp;</td>
    <td width="250">
<!--     <input type="submit" value="Submit new ST" name="handlers/zCom_StrainEntry:action" tal:condition="options/showSubmitST | nothing"> -->
    
        <b id ="no-uploading" style="display:none">Uploading data based on Sanger sequencing is not supported. Please upload Illumina Reads</b>  
    </td>
</tr>
</table></span><!-- SP2 -->
<!--Hier beginnt die Tabellendarstellung2 -->
<!-- SP2 -->
<!-- Hier endet T2 -->


</td>
</tr>
</table>
<!-- *********************Hier endet die obere Tabelle********************************** -->

<br>



<table border="0" cellspacing="1" cellpadding="1">
  <tr> 
    <td valign="bottom" width="550">
      <font face="Arial" size="2">Sequence:</font>
      
      
    </td>
    <td><font size="2" face="Arial"> 
      <button id ="get-info-button">Get Info</button>
      <br></font>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" width="550">
      <textarea id="sequence-input" cols="62" rows="10"></textarea>
    </td>
    <td align="left" valign="top"><br> 
      <p><font size="2" face="Arial">Gene Fragment:</font></p>
      <p><font size="2" face="Arial"> 
        <select id ="locus-select" size="1">
        {% for allele in alleles %}
          <option value = "{{allele}}">{{allele}}</option>
          {% endfor %}
        </select>
        </font>
        <br><br>
         
        
      </p>
    </td>
  </tr>
  <tr> 
    <td align="left" valign="top" width="550">
        
       <textarea id = 'match-info' style = 'display:none' cols="62" rows="15"></textarea>
      <br><br><br>
    </td>
    <td align="left" valign="top">
  
    </td>
  </tr>
</table>





</div>
    </td>
  </tr>
</table>






{%endblock%}