{% extends "bsl_base.html" %}
{% block maincontent %}
{% include "species/legacy_header.html" %}
{{ super() }}
<br>
<br>
Download Data Files:
<br>
<br>
<ul>
{% for link in links %}

<li><a href="{{link['href']}}" >{{link['name']}}</a></li>

{% endfor %}
</ul>
{%endblock%}