{% extends "jql_base.html" %}
{% block head%}
{{ super() }}
<link rel ='stylesheet'href="{{url_for('static',filename='css/table/validation_grid.css')}}">
<link rel ='stylesheet'href="{{url_for('static',filename='css/main/jjsonviewer.css')}}">

<link rel="stylesheet" href="/static/css/js_tree/style.min.css" />
<style>
  #table-panel-header{
	padding: 2px 2px 10px 2px;
  
  }
  .ui-layout-pane-east {
    overflow: hidden !important;
}
   .panel-body label{
			margin-bottom:1px;
			margin-top:4px;
		
		}
  .highlighted-row{
	background-color:#FFFFCC;
  
  }
  .mst-menu-title span{
			display:block;
			float:right;	
		}
	 .panel-default{
			margin-bottom:2px;
		}
		.mst-menu-title {
			
			cursor:pointer
			
		}
		 .sp-icon{
		 cursor:pointer
		 
		 }
	 .slider-class{
			float: left;
			clear: left;
			width: 140px;
			height:5px;
			margin: 5px;
		}
		.slider-class .ui-slider-handle {		
			height:12px;
		}
</style>
{% endblock %}

{% block title %}Locus Search {{species}}{% endblock %}

{% block extrasidepanel%}
<div style='padding:3px 3px 3px 3px'>
<p style ='font-size:16px' align='center'>Controls <p>
<p align = 'center'>
<label>Scale</label>
<br>
  <label>X value</label>
	   <span  onclick="zoomAxis('x','1.1')" class="sp-icon glyphicon glyphicon-plus-sign"></span>
	   <span  onclick="zoomAxis('x','0.9')" class="sp-icon glyphicon glyphicon-minus-sign"></span>

<br>
<label>Y value</label>
	 <span  onclick="zoomAxis('y','1.1')" class="sp-icon glyphicon glyphicon-plus-sign"></span>
	   <span  onclick="zoomAxis('y','0.9')" class="sp-icon glyphicon glyphicon-minus-sign"></span>
<br>
<label>Scroll</label>
	<br>
   <span  onclick="annotation_map.scrollHorizontal(-10)" class="sp-icon glyphicon glyphicon-arrow-left"></span>
    <span  onclick="annotation_map.scrollHorizontal(10)" class="sp-icon glyphicon glyphicon-arrow-right"></span>
</p>

{% if temp_type == 'Accessory Genome' %}
	{% for name in gene_categories %}
		<input data='{{gene_categories[name]['color']}}' class= 'gene-category-check' type='checkbox' id='{{name}}'>{{gene_categories[name]['label']}}<br>
	
	{% endfor %}

{% endif %}
</div>
{% endblock %}


{% block tablecontent %}
  
	<!--The actual table and paginator-->
    
	
	<div id = "tablelayout" style='width:100%;height:100%;overflow:scroll'>                
		<div id="tablecontent" class = 'ui-layout-east' style= 'overflow:hidden'>
			<div id="table-panel-header">
				<span id ="search-name" style "float:left">Locus Search:</span>
				<div id ='table-header-buttons' style='float:right'>
					<button id ='download-matrix'>Matrix</button>
					<button id ='save-table-button'>Save Data</button>
					<button onclick = 'createViewFromSelected()' id ='custom-view-button'>Make Sub Scheme</button>
					<button id ='restore-button'>Restore</button>
					
				</div>	
			</div>
			
			<div id="table-panel" ><div class = "ui-layout-north" id='table-header' style ='overflow-y:scroll'></div><div class = "ui-layout-center" style="display:block;overflow:auto" id = 'table-content'> </div></div>
				
			
		</div>
		<div id ="consoleview" class = "ui-layout-center">
			<div id ="locus-search-panel"  style ="display:none" class ='panel panel-default '> 
				<div class ='panel-heading ' id= 'locus-search-menu'> <b >Locus Search</b></div>
				<div class = "panel-body" id ='locus-search-menu-panel'>
					<label>Paste Sequence or Fasta File</label>
					<br>
				       <textarea id ='fasta-sequence' rows="4" style = "width:100%"></textarea>
					<span  alt= "sss" class ="glyphicon glyphicon-upload" style = "cursor:pointer" onclick="uploader.trigger('click')" id = 'load-fasta'></span><b>Upload Sequence or Fasta File</b>
					<br>
					<label>Scheme:</label>
					<select id = 'scheme-select'>
					{% for value in scheme_info %}		
						<option value="{{value}}" >{{scheme_info[value]}}</option>
					{% endfor %}
					</select>
					<label>Save the Search</label><input type="checkbox" id ="new-locus-search">
					<button id ='submit-button'>Submit</button>
					
					
					<p style='margin-top:10px' align = 'center'>
					<button id ='load-button'>Load Search</button>
					
					<button id ='annotation-button'>Link with Workspace</button>
					
					
					</p>
					
					
				</div>
			</div>
			<div id ="accessory-panel"  style ="display:none" class ='panel panel-default '> 
				<div class ='panel-heading' id= 'accessory-genome-menu'> <b >Accessory Genome</b></div>
				<div class = "panel-body" id ='accessory-genome-menu-panel'>
					
					<button id ='accessory-button'>Load Accessory Genome</button>
					
					</p>
					
					
				</div>
			</div>
		
		</div>
		<div id ="layoutview" class = "ui-layout-south">
			<div id = 'annotation-view'></div>
		</div>
	</div>
       
  
{% endblock %}

{% block scripts %}
{{super()}}
 <!--All the required scripts-->
<script src="{{url_for('static',filename='js/table/editablegrid-2.0.1.js')}}"></script>
<script src="{{url_for('static',filename='js/main/contextMenu.min.js')}}"></script>
<script src="{{url_for('static',filename='js/table/ddsmoothmenu.js')}}"></script>
<script src="{{url_for('static',filename='js/table/validation_grid.js')}}"></script>
<script src="{{url_for('static',filename='js/table/locus_grid.js')}}"></script>
<script charset="utf-8" src="/static/js/main/d3.min.js"></script>
<script charset="utf-8" src="/static/js/tree/tree_heat_map.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="/static/js/main/jstree.min.js"></script>
<script src="/static/js/dialogs/workspace.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="/static/js/dialogs/allele_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>

<script>
	
	var waiting_dialog= null;
	var speciesName = "{{species}}";
	var current_scheme=null;
	var current_scheme_label=null;
      
	 var entero_ws_dialog = new EnteroWorkspaceDialog(speciesName,null,true);
	var annotation_map=null;
	var user_jobs_only = false;
	 var fasta_sequence = "";
	 var locus_project_id=0;
	 var locus_project_name=""
	 var display_type = "{{temp_type}}"
	 var scheme_info = {};
	 {% for value in scheme_info %}		
		scheme_info["{{value}}"]="{{scheme_info[value]}}";
	{% endfor %}
	 var start_analysis_id = {{analysis_id}}
	 var start_link_id= {{link_id}}
	 
	 
	var validationGrid = new LocusGrid(
		"SpeciesGrid",
		{
			enableSort: true,  
			editmode: "static", 
			editorzoneid: "edition", 
			allowSimultaneousEdition: false,
			pageSize:5000
		},
		speciesName                  
	);
	validationGrid.imgFolder="{{url_for('static',filename='img/upload/')}}"
		
	
	var uploader = Enterobase.makeCustomFileInput("fileupload",function(file){ 
		var fasta_reader = new FileReader();
		fasta_reader.onload = function(e) { 
			fasta_sequence = e.target.result;
			$("#fasta-sequence").val(fasta_sequence)
		};
		fasta_reader.readAsText(file);
		
	});
		  
	function loadTableData(data){
		data_list=[]
		for (var locus in data['loci_info']){
			data['loci_info'][locus]['extra_row_info']=locus;
			data_list.push(data['loci_info'][locus]);
			data_list.sort(function(a,b){
				return a.start - b.start;
			});
			
			
		}
		validationGrid.loadNewData(data_list);
		validationGrid.refreshGrid();
		annotation_map.setData(data);
		
	};
	
	function zoomAxis(axis,amount){
		if (axis ==='x'){
			annotation_map.setXScale(amount,true);
		
		}
		else{
			annotation_map.setYScale(amount,true);
		}
	
	}
	
	
	 function showWorkspaceFolders(){
	entero_ws_dialog.getSelectedIDs(function(ids,wspaces){
	   
		if (wspaces[0][4]==='snp_sa_project'){
			Enterobase.call_restful_json("/associate_locus_search_with_snp?snp_id="+ids[0]+"&ls_id="+locus_project_id,"GET","",callFailed).done(function(data){
			annotation_map.setData(data);
		});
	    }
	});
    }
	
	function callFailed(msg){	
		Enterobase.modalAlert("Call to server failed:"+msg);
		if (waiting_dialog){
			waiting_dialog.close();
		}
	}
	
	function loadLocusSearch(project_id,name,callback){
		if (! waiting_dialog){
			waiting_dialog =  new Enterobase.ModalWaitingDialog("Getting Data",function(){},"/static/js/table/images/waiting.gif");
		  }
		  Enterobase.call_restful_json("/load_locus_search?id="+project_id,"GET","",callFailed).done(function(data){
			if (data['unfinished']){
				setTimeout(function(){
					loadLocusSearch(project_id,name);				
				},15000)
			}
			else if (data['failed']){
				waiting_dialog.close();
				Enterobase.modalAlert("The job has failed. If this persists, please contact an administrator")
			
			}
			else{
				if (!name){
					name=data['name'];
				}
				waiting_dialog.close();
				waiting_dialog=null;
				current_scheme=data['scheme'];
				current_scheme_label = scheme_info[current_scheme];
				locus_project_id=project_id;
				validationGrid.scheme=current_scheme;
				loadTableData(data);
				locus_project_name = name;
				$("#search-name").text("Locus Search:"+name)
				$("#annotation-button").removeAttr("disabled");
				if (callback){
					callback();
				}
				
			
			}
		  
		  });
	
	}
	
	function saveLocusSearch(save){
		if (save){
			entero_ws_dialog.showSaveDialog(function(name){
				submitLocusSearch(name)
			},"Locus Search");
		}
		else{
			submitLocusSearch("latest_locus_search")
		}
	}

	function submitLocusSearch(name){
		var val = $("#fasta-sequence").val();
		val = val.trim();
		if (!val){
			return;
		}
		
		if (!val.startsWith(">")){
			val =">user_sequence\n"+val;
		}
		to_send={
			fasta:val,
			scheme:$("#scheme-select").val(),
			database:speciesName,
			name:name
		};
		Enterobase.call_restful_json("/create_locus_search","POST",to_send,callFailed).done(function(data){
			waiting_dialog =  new Enterobase.ModalWaitingDialog("Running job",function(){},"/static/js/table/images/waiting.gif");
			if (name!=='latest_locus_search'){
				entero_ws_dialog.addNewWorkspace([name,'mine','mine',data['id'],'locus_search']);
			}
			loadLocusSearch(data['id'],name);
		});

}

	function showLocusSearchLoadDialog(){
		entero_ws_dialog.getSelectedIDs(function(ids,wspaces){
			loadLocusSearch(ids[0],wspaces[0][0]);
		
		},"load",{"types":["locus_search"]});
	}
	
	function showSNPDialog(){
		entero_ws_dialog.getSelectedIDs(function(ids,wspaces){
			loadAnnotation(ids[0],wspaces[0][0]);
		
		},"load",{"types":["snp_sa_project","main_workspace","ms_sa_tree"]});
	}
	
	
	function showLoadAccessoryDialog(){
		entero_ws_dialog.getSelectedIDs(function(ids,wspaces){
			loadAccessoryGenome(ids[0],wspaces[0][0]);
		
		},"load",{"types":["snp_sa_project","main_workspace","ms_sa_tree"]});
	
	
	}
	
	function loadAccessoryGenome(id,name){
		waiting_dialog = new Enterobase.ModalWaitingDialog("Loading Accessory genome",function(){},"/static/js/table/images/waiting.gif");
		var to_send= {
			database:speciesName,
			analysis_id:id			
		}
		Enterobase.call_restful_json("/get_accessory_genome","GET",to_send,callFailed).done(function(data){
			waiting_dialog.close();
			if (!name){
				name=data['name'];
			}
			if (data['status']!=="OK"){
				Enterobase.modalAlert(data['status']);
			}
			else{
				annotation_map.setData(data['annotation_data']);			
				validationGrid.loadNewData(data['table_data']);	
				current_scheme=data['scheme'];
				current_scheme_label=scheme_info[current_scheme];
				validationGrid.scheme=current_scheme;
				validationGrid.refreshGrid();	
				$("#search-name").text("Accessory Genome:"+name);
			}
			
		});
	
	};
	
	 function createViewFromSelected(){
	       var columns=[];
		var ids = validationGrid.getSelectedRows();
		if (ids.length===0){
			Enterobase.modalAlert("Please select the loci from the table with which to create the view");
			return;
		
		}
		for (var index in ids){
			var id = ids[index];
			var name =validationGrid.extraRowInfo[id];
			var label = validationGrid.getValueAt(validationGrid.getRowIndex(id),validationGrid.getColumnIndex("locus"));
			
			var column={
				name:name,
				scheme:current_scheme,
				datatype:"integer",
				label:label+"("+current_scheme_label+")",
			  
			}
			columns.push(column);
			
		}
		entero_ws_dialog.showSaveDialog(function(name){
			var to_send ={
				database:speciesName,
				data:JSON.stringify({experiment_columns:columns}),
				id:0,
				name:name
			};     
			Enterobase.call_restful_json("/save_custom_view","POST",to_send,this.showErrorMessage).done(function(data){
				if (data['msg']==="OK"){                   
					Enterobase.modalAlert("The view "+name+" has been saved");
					entero_ws_dialog.addNewWorkspace([name,'mine','mine',data['id'],'custom_view']);                  
			      
				}
				else if (data['msg']==='Exists'){
					Enterobase.modalAlert("The view "+name+" already exists. Please choose another.");                      
			
				}
			});               
		},"Custom View");    	
	}
	
	
	
	
	
	
	
	
	function loadAnnotation(ws_id,name){
		waiting_dialog = new Enterobase.ModalWaitingDialog("Loading Alleles",function(){},"/static/js/table/images/waiting.gif","default");
		Enterobase.call_restful_json("/get_allele_info_for_ls?analysis_id="+ws_id+"&locus_search_id="+locus_project_id,"GET","",callFailed).done(function(data){
			if (!name){
				name= data['name'];
			}
			data['metadata_label']="strain";
			annotation_map.setData(data);
			$("#search-name").text("Locus Search:"+locus_project_name+"("+name+")");
			waiting_dialog .close();
		});
	}
	
	
	
     
	
	
	
window.onload = function() {
	$(window).resize(function(){
		setTimeout(function(){
		$('#table-panel').height($("#tablecontent").height()-$("#table-panel-header").height());
		$('#table-content').height($('#table-panel').height()- $("#table-header").height());
		},50);
	});
	$('#table-panel').height($("#tablecontent").height()-$("#table-header").height());
	$('#table-panel').layout({ 
		spacing_open:0,
		spacing_closed: 0
	});
	$(".gene-category-check").click(function(e){
		var el = $(this);
		var show = el.prop('checked');
		var cat = el.attr("id");
		annotation_map.showCategory(cat,show);
		
	
	});
	$("#table-panel").css('padding','0px');
	var content=  $('#table-content');
	var header = $("#table-header");
	content.scroll(function(e){
		$("#table-header").scrollLeft($(this).scrollLeft());
	
	});
	header.css({	'padding':'0px',
				'overflow-x':'hidden',
				'left':'0px',
				'right':"0px",
				'top':'0px'
	});
	
	
       $("#save-table-button").click(function(e){
		var para = {label_headers:true};
	       data = validationGrid.getGridAsText(para);
	       Enterobase.showSaveDialog(data.join("\n"));
       
       });
       
       $("#download-matrix").click(function(e){
		Enterobase.showSaveDialog(annotation_map.getMatrix());
       
       });
       $("#restore-button").click(function(e){
		
		if (display_type == 'Locus Search'){
			$("#search-name").text("Reference");
		}
		else{
			$("#search-name").text("All Loci");
		}
		validationGrid.restore();
       
       });
       
       if (display_type == 'Locus Search'){
		$("#search-name").text("Reference");
	}
	else{
		$("#search-name").text("All Loci");
	}
       
	
	$("#submit-button").click(function(e){
		
		saveLocusSearch($("#new-locus-search").prop("checked"));
	});
	$("#load-button").click(function(e){
		showLocusSearchLoadDialog();
	});
	$("#annotation-button").click(function(e){
		showSNPDialog();
	}).attr("disabled","disabled");
	$("#accessory-button").click(function(e){
		showLoadAccessoryDialog();
	});
	   
	$("#load-project-select").on("change",function(e){
		var val= $(this).val();
		if (val){
			waiting_dialog =  new Enterobase.ModalWaitingDialog("Getting Data",function(){},"/static/js/table/images/waiting.gif");
			loadLocusSearch(val);
		}
		
	});
	  $( "#slider-x-scale" ).slider({
		orientation: "horizontal",
		min:0.1,
		max:10,
		value: 1,
		step:0.1,
		slide:function(){annotation_map.setXScale($("#slider-x-scale").slider("value"));},
		change: function(e){
			if (e.originalEvent){
				annotation_map.setXScale($("#slider-x-scale").slider("value"));
			}
		}
	});
	
	
	
	var layout = $('#tablelayout').layout({ 
		applyDefaultStyles: true,
		south__onresize: function () {
			if (annotation_map){
				annotation_map.resizeContainer();
			
			}
			$(window).trigger("resize");
			
		},
		east__onresize:function(){
			$("#table-content").width($("#table-panel").width());
		
		}
	
	});
	if (display_type === 'Accessory Genome'){
	
		layout.sizePane("east","80%");
	}
	else{
		layout.sizePane("east","60%");
	}
	setTimeout(function(){
		layout.sizePane("south","50%");
		$("#layoutview").css("border","0px");
	},500);
     
	validationGrid.setMetaData();
	 validationGrid.addToPage("table-content","testgrid","table-header");	
	 annotation_map = new CanvasHeatMap("annotation-view");
	 /*annotation_map.addLociSelectedListener(function(loci_ids){
		
		validationGrid.filterOnID(loci_ids);
	 
	 });
	 */
	 annotation_map.addAlleleClickedListener(function(locus,allele_id,key,extras){
		var strain_name = "unknown";
		if (extras.metadata){
			strain_name = extras.metadata['strain'];
		}
		
		var other_data={
			strain_name:strain_name,
			scheme_label:scheme_info[current_scheme],
			locus_label:extras.locus_label
			
		};
		$("#search-name").text(strain_name);
		
		
		
		
		//new AlleleViewDialog(current_scheme,speciesName,locus,allele_id,key,other_data);
		if (extras.selected_range){
			var filtered_ids=[];
			for(var i=extras.selected_range[0]+1;i<=extras.selected_range[1]+1;i++){
				filtered_ids.push(i)
			}
			validationGrid.filterOnID(filtered_ids);
		}
		validationGrid.showAlleleDetailsForStrain(current_scheme,key,locus,extras['alleles']);
		var st = validationGrid.getHighlightedRowPosition();
		console.log(st);
		$("#table-content").scrollTop(st);
	 
	 });
	 
	if (display_type== 'Locus Search'){
		$("#locus-search-panel").show();
		if (start_analysis_id){
			if (start_link_id){
				loadLocusSearch(start_analysis_id,null,function(){				
					loadAnnotation(start_link_id)				
				});
				
			}
			else{
				loadLocusSearch(start_analysis_id);
			}
		}
	}
	else{
		$("#accessory-panel").show();
		if (start_analysis_id){
			loadAccessoryGenome(start_analysis_id)
		}
		
	}
	
	
	     
};
</script>
	
{% endblock %}
