{% extends "base.html" %}
{% block head%}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />

{% endblock %}

{% block title %}Minimal Spanning Tree{% endblock %}
{% block scripts %}
{{super()}}
<script src="/static/js/tree/phyloviz_bundle.js"></script>
<script>
var phylovizObject = {};
var input = {
                name: "datasetName",
                key:"ID",
                data_type: "profile",
                profiles: [{"ID": "ST1","A":"1","B":"3"},{"ID": "ST2","A":"2", "B":"1"}],
                schemegenes: ["ID","A","B"],
                metadata: ["ID", "From"],
                isolates: [{"ID":"ST1", "From":"Japan"}, {"ID":"ST2", "From":"USA"}, {"ID":"ST2", "From":"Portugal"}],
                newick: undefined,
                linkMethod: 'isolates',
                propertyIndex: 1 //From
     

       };

        
        
        phyloviz_graph(input,"phyloviz_div", function(graphObject){
                phylovizObject = graphObject;
                console.log(graphObject);
        });
function callbackFailed(msg){
  Enterobase.modalAlert(msg);

}

$(function () {
        
     
  
});
function sayHello(){
         alert("hello");
}

function displayGraph(profiles,schemegenes,metadata,isolates){
        var input = {
                name: "datasetName",
                key:"ID",
                data_type: "profile",
                profiles: profiles,// [{"ID": "ST1","A":"1","B":"3"},{"ID": "ST2","A":"2", "B":"1"}],
                schemegenes: schemegenes,//["ID","A","B"],
                metadata: metadata,//["ID", "From"],
                isolates: isolates,//[{"ID":"ST1", "From":"Japan"}, {"ID":"ST2", "From":"USA"}, {"ID":"ST2", "From":"Portugal"}],
                newick: undefined,
                linkMethod: 'isolates',
                propertyIndex: 1 //From
        }
        input = {
                name: "datasetName",
                key:"ID",
                data_type: "profile",
                profiles: [{"ID": "ST1","A":"1","B":"3"},{"ID": "ST2","A":"2", "B":"1"}],
                schemegenes: ["ID","A","B"],
                metadata: ["ID", "From"],
                isolates: [{"ID":"ST1", "From":"Japan"}, {"ID":"ST2", "From":"USA"}, {"ID":"ST2", "From":"Portugal"}],
                newick: undefined,
                linkMethod: 'isolates',
                propertyIndex: 1 //From
        }

       

        
        
        phyloviz_graph(input,"phyloviz_div", function(graphObject){
                phylovizObject = graphObject;
                console.log(graphObject);
        });

}


</script>
{% endblock %}


{% block maincontent %}
  <div id="phyloviz_div"></div>
{% endblock %}