                         <li>
                            <a href='/'>
                            <i class="fa fa-home fa-fw"></i> 
                            Home
                            </a>
                            
                        </li>

<!-- WVN 16/8/17 Removed optional admin menu from this page
     (since implementation is species specific) 
     and completely changed Tasks menu to be for legacy stuff on this page -->
                        
                        <li>
                            <a href="#"> <span class="fa arrow"></span>
                                <i class="fa fa-wrench fa-fw"></i> 
                                Tasks
                            </a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a href='#allele_st_query'>
                                   <i class="fa fa-search"></i> 
                                    Allele/ ST Query
                                    </a>
                                </li>

                                <li>
                                    <a href='#strain_query'>
                                    <img src='/static/img/icons/bacteria.png'>
                                    Strain Query
                                    </a>
                                </li>

                                <li>
                                    <a href='#submission'>
                                    <i class="fa fa-upload fa-fw"></i> 
                                    Submission of Data
                                    </a>
                                </li>

                                <li>
                                    <a href='#info'>
                                    <i class="fa fa-bell fa-fw"></i> 
                                    Info
                                    </a>
                                </li>

                                <li>
                                    <a href='#downloads'>
                                    <i class="fa fa-download fa-fw"></i> 
                                    Downloads
                                    </a>
                                </li>
                                
                            </ul>                          
                        </li>
                       
                       
               
        


