<!DOCTYPE html>
<html>


<head>
        <link rel="stylesheet" href='static/js/jquery-ui-1.11.4/jquery-ui.min.css'>
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/grapetree.css">
</head>
<body>
<!--metadata div-->
<link rel="stylesheet" href="static/js/SlickGrid/slick.grid.css" type="text/css"/>
<link rel="stylesheet" href="static/js/SlickGrid/examples/examples.css" type="text/css"/>

<script src="static/js/SlickGrid/lib/firebugx.js"></script>

<script src="static/js/SlickGrid/lib/jquery-1.11.2.min.js"></script>
<script src="static/js/SlickGrid/lib/jquery-ui-1.11.3.min.js"></script>
<script src="static/js/SlickGrid/lib/jquery.event.drag-2.3.0.js"></script>


<script src="static/js/SlickGrid/slick.core.js"></script>
<script src="static/js/SlickGrid/plugins/slick.cellrangedecorator.js"></script>
<script src="static/js/SlickGrid/plugins/slick.cellrangeselector.js"></script>
<script src="static/js/SlickGrid/plugins/slick.cellselectionmodel.js"></script>
<script src="static/js/SlickGrid/slick.formatters.js"></script>
<script src="static/js/SlickGrid/slick.editors.js"></script>
<script src="static/js/SlickGrid/slick.grid.js"></script>
<script src="static/js/SlickGrid/slick.dataview.js"></script>

<script src= "static/js/tree/context.js?version={{config['JAVASCRIPT_VERSION']}}"></script>

<script src='static/js/tree/grid.js?version={{config['JAVASCRIPT_VERSION']}}'></script>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDNgPBHVSHb9DZS8pRr6gK_Hah3q0KERkU"></script>
<script src="{{url_for('static',filename='js/main/gmaps.min.js')}}"></script>
<script src ="static/js/main/bootstrap.min.js"></script>
<script charset="utf-8" src="static/js/main/d3.min.js"></script>
<script charset="utf-8" src="static/js/main/spin.min.js"></script>
<script charset="utf-8" src="static/js/tree/base_tree.js?version={{js_version}}"></script>
<script charset="utf-8" src="/static/js/tree/d3_p_tree.js?version={{js_version}}"></script>

<script>
var all_files=null;
var metatdata_file_name;
var waiting_spinner= null;
var waitingDialog = null;
var metadata_categories={};
var context_menu=null;
var metadata_grid=null;
var the_tree = null;
var tree_name="";
var waiting_spinner= null;
//globals for micoreact
var microreact_data=null;
var location_send_list=[];
var max_sends=0;
var tooltip_div =d3.select("body")
                                .append("div")
                                .attr("class", "tooltip")
                                .style("opacity", 0)
                                .style("z-index", 9)

var legend_colour_chooser = $("<input>")
                                .on("change",function(e){
                                        var cc  = $(this);
                                        the_tree.setColour(cc.data("category"),cc.data("value"),cc.val());
                                        the_tree.changeCategory(cc.data("category"));

                                })
                                .attr("type","color").hide();

$("body").append(legend_colour_chooser);

function addMetadataOptions(options){           
        for (var value in options){
                var obj =options[value];
                var category = null;
                var label = ""
                if (typeof obj === 'object'){
                        label =obj['label'];
                        category = obj['category'];
                        
                }
                else{
                        label=obj;
                }
                var append_to_1 = $("#metadata-select");
                var append_to_2=  $("#node-label-text")
                if (category){
                        if (!metadata_categories[category]){
                                metadata_categories[category]=true;
                                append_to_1 =$("<optgroup>").attr("label",category);
                                append_to_2=$("<optgroup>").attr("label",category);
                                $("#metadata-select").append(append_to_1);
                                $("#node-label-text").append(append_to_2);
                        }
                        else{
                                var to_find = "[label='"+category+"']";
                                append_to_1 = $("#metadata-select").find(to_find);
                                append_to_2 = $("#node-label-text").find(to_find);
                        
                        }
                
                }		
                append_to_1.append($("<option>").attr("value",value).text(label));
                append_to_2.append($("<option>").attr("value",value).text(label));
                //$("#add-new-values-select").append($("<option>").attr("value",value).text(label));			
        }	
}


function showToolTip(msg, e){
        if (!e) {e=d3.event;}
        tooltip_div.transition()
                                        .duration(200)
                                        .style("opacity", .9);
                                
        tooltip_div.html(msg)
                                        .style("left", (e.pageX) + "px")
                                        .style("top", (e.pageY - 28) + "px");
        setTimeout(hideToolTip, 2000);
}

function hideToolTip(){
        tooltip_div.transition()
        .duration(500)
        .style("opacity", 0);
}




function loadMSTree(data){
        //set up initial data
        if (data['layout_data']){
                setGUIComponents(data['layout_data']);
                data['initial_category']=data['layout_data']['display_category'];
        }
        else{
                data['initial_category']="country";
        }
        
       
        $("#waiting-information").text("Loading Data");
       
        the_tree = new D3PTree("graph-div",data);
        the_tree.addTreeChangedListener(function(type,data){
                if (type === 'metadata_options_altered'){
                        addMetadataOptions(data);
                }
               
        });
        
        the_tree.addDisplayChangedListener(function(type,data){
                if (type==='category_changed'){
                        $("#metadata-select").val(data);
                }
        
        });
        metadata_grid = new D3MSMetadataTable(the_tree);
        if (tree_id){
                metadata_grid.setAddColumnFunction(function(name){
                        addCustomColumn(name);
                })
        };
        
        //context_menu= new D3MSTreeContextMenu(the_tree,metadata_grid,true);//old
        //changed by yulei, 20190514
        context_menu= new D3MSTreeContextMenu(the_tree,metadata_grid);
        //added by yulei 20190514
        //start
        if (the_tree) {
                $("#selectAll").remove();
                $("#unselectAll").remove();
                $("#collapse_node").remove();
                $("#uncollapse_node").remove();
                $("#uncollapse_all").remove();
                
                //$("#center-tree").remove();
                
                $("#refresh-tree").remove();
                $("#switch-hypo").remove();
                $("#delete-node").remove();
                $("#contextHr1").remove();
                $("#contextHr2").remove();
                $("#contextHr3").remove();                
                //$("#back-sub").show();
                //$("#next-sub").show();
                $("#show-node").hide();
                

        }
        //end
        
        the_tree.legendItemClicked = function(data){
                legend_colour_chooser
                .css({"left":0,"top":0})
                .val(data.colour)
                .data({"value":data.value.split("  [")[0],"category":data.category})
                .trigger("click");
        };
     
                                

        if (the_tree.metadata_info){
                        addMetadataOptions(the_tree.metadata_info);
        }
        the_tree.nodeCollapsed= function(node_id){
                                      
              $("#collapsed-node-name"). show()
                      .css("left", (d3.event.pageX) + "px")		
                      .css("top", (d3.event.pageY - 28) + "px")
                      .css("z-index","10");
                     
              $("#collapsed-node-name-input").data("node_id",node_id).focus();
                                      
        };
        if (data['microreact']){
                microreact_data=data['microreact'];
                $("#microreact-text").text("View");
        }
        
        $("#tree-name-holder").text(tree_name);
        $("#microreact-name").val(tree_name);                            
      
        $("#metadata-select").val(data['initial_category']);
        $(waiting_spinner.el).hide();
         $("#waiting-information").text("Complete");
        $("#waiting-image").attr("src","static/js/img/ms_complete_1.png").show();
       // legend_colour_chooser.hide();
        $("#information-div").modal("hide");
        if (data['jbrowse_uri']){
                window.open(data['jbrowse_uri'],name+"_snps",'width=1000, height=600');
        }
       
       
        the_tree._centerGraph();
        the_tree._updateData();     
}


 function setGUIComponents(data){
        $("#node-label-text").val(data['leaf_label_category']);
        $("#slider-xscale").slider("value",data['x_scale_max']);
        $("#slider-yscale").slider("value",data['y_scale_max']);
        $("#spinner-maxlinklength").val(data['max_display_length']);
        $("#slider-linkfontsize").slider("value",data['branch_label_text_size']);
        $("#show-link-labels").prop("checked",data['show_branch_labels']);
        $("#slider-branch-thickness").slider("value",data['branch_thickness']);
        $("#show-marker").prop("checked",data['show_leaf_markers']);
        $("#slider-markersize").slider("value",data['marker_size']);
        $("#align-markers").prop("checked",data['labels_aligned']);
        $("#show-leaf-labels").prop("checked",data['show_leaf_labels']);
        $("#slider-leaffontsize").slider("value",data['leaf_label_text_size']);
        $("#tree-layout-select").val(data['display_mode']);
        if (data['display_mode']==='circular'){
                 $("#slider-yscale").slider({
                        min:20,
                        max: 360,
                });
        }        
};


 
                
                
function initiateMicroreactJob(){
        $("#main-component-div").hide();
        $("#results-div").html("<p align='center'><img src='/static/img/upload/waiting.gif'><p><p align= 'center'>Getting Geographic Details</p>");
        $("#results-div").show();
        var location_to_barcodes={};
        
        for (var strain_id in the_tree.metadata){
                var item = the_tree.metadata[strain_id];
                var info ="";
                if (!item['latitude'] && item['latitude']!==0){
                        if (item['city']){
                                info = item['city']+" "+item['admin2']+" "+item["admin1"]+" "+item['country'];
                        }
                        else if (item['admin2']){
                                info = item['admin2']+" "+item['admin1']+" "+item['country'];
                        }
                        else if (item['admin1']){
                                info = item['admin1']+" "+item['country'];
                        }
                        else if (item['country']){
                                info= item['country'];
                        }
                }
                info = info.replace(" null "," ");
                if (info){
                        var bar_list = location_to_barcodes[info];
                        if (!bar_list){
                                bar_list=[];
                                location_to_barcodes[info]=bar_list;
                                
                        }
                        bar_list.push(item['ID']);
                }
        }
        location_send_list=[];
        
        for (var location in location_to_barcodes){
                location_send_list.push({"location":location,"barcodes":location_to_barcodes[location]})
        }
        if (location_send_list.length >0){
                sendLatLongSearch(0);
                return;	
        }
        sendToMicroreact();
}

function sendLatLongSearch(list_index){
        
        if (max_sends>200 ||  list_index >=location_send_list.length){
                sendToMicroreact();
                return;
        }
        var location = location_send_list[list_index]['location']
        
        GMaps.geocode({
                address: location,
                callback: function(results, status){
                        
                        if(status=='OK'){
                                var latlng = results[0].geometry.location;
                                var barcodes = location_send_list[list_index]['barcodes']		 
                                for (var i in barcodes){
                                        var barcode = barcodes[i];
                                        for(var strain_id in the_tree.metadata){
                                                var item = the_tree.metadata[strain_id];
                                                if (item['ID']===barcode){
                                                        item['latitude']=latlng.lat();
                                                        item['longitude']=latlng.lng();
                                                        break;
                                                }
                                        
                                        
                                        }
                                }
                                list_index++;                                         
                        }
                        else{
                                console.log(status);
                        }
                        max_sends++;
                        setTimeout(function(){
                                sendLatLongSearch(list_index);
                        },300);
                        
                        
                }
        });
}

function sendToMicroreact (){
        //first parse of data to remove empty columns and add colours
        var meta = the_tree.metadata;
        var fields = [];
        for (var group in metadata_options){
                for (var name in metadata_options[group]){
                        fields.push(name);
                }
        }
        
        var categories={};
        for (var i in fields){
                categories[fields[i]]={};
        
        }
        for (var strain_id in meta){
                var info = meta[strain_id];
                for (var i in fields){
                        var label = fields[i];
                        var val = info[label];
                        if (val){
                                categories[label][val]=true;
                        }
                }
        }
        var colors={};
        var temp_fields=[];
        var colour_pallete =d3.scale.category20().range().concat(d3.scale.category20b().range(),d3.scale.category20c().range());
        for (var label in categories){	
                //no colours for these just add it
                if (label==='Name' || label==='Latitude' || label ==='Longitude' || label==='Collection Date'){
                        temp_fields.push(label);		
                }
                else{
                        colors[label]={};
                        var color_index=0;
                        var values  = categories[label];
                        for (var value in values){
                                
                                colors[label][value]=colour_pallete[color_index];
                                color_index++;			
                        }
                        //only add those with categories
                        if (color_index !==0){
                                temp_fields.push(label);
                        }
                }
        
        }
        fields=temp_fields;
        
        
        var header =  fields.join(",");
        
        
        for (var i in fields){
                var label = fields[i];
                if (colors[label]){		
                        header+=","+label+"__colour";
                }
        }
        var lines = ["id,"+header];
        lines[0]=lines[0].replace(/\./g, '');
        lines[0]=lines[0].replace(/\s+/g, '_');
        lines[0]=lines[0].toLowerCase();
        var date_format = $('input[name=date-format]:checked').val();	
        for (var strain_id in meta){
                var info =  meta[strain_id];
                var line = info['ID'];
                for (var i in fields){
                        var label = fields[i];
                        var val = info[label];
                        if (label === 'Collection Date' && val !== 'ND'){
                                var arr = val.split("-")
                                if (date_format==="YYYY"){
                                        val = arr[0];
                                }
                                else if (date_format === 'YYYY-MM'){
                                        val=arr[0]+"-"+arr[1];
                                }
                        }
                        if (!val && val !==0){
                                val="";
                        }
                        if (val.replace){
                                val=val.replace(/,/g,"-");
                        }
                        line+=","+val;
                        if (line.split(",").length>35){
                                console.log(line);
                        }
                }
                for (var i in fields){
                        var label = fields[i];
                        if (colors[label]){
                                var val = info[label];
                                if (!val){
                                        line+=","
                                }
                                else{
                                        line+=","+colors[label][val];
                                }
                        }
                        
                }				
                lines.push(line);
        }
        var commas= lines[0].split(",").length-1;
        
        var obj={
                name:$("#microreact-name").val(),
                timeline_field:"collection_date",
                timeline_format:date_format,		
                tree:the_tree.nwk,
                data:lines.join("\n")
        };
        
        
        obj['map_countryField']="country";
        if ($('#group-by-country').prop('checked')){
                obj['map_grouped']=true;
        }
        
        var email = $("#microreact").val();
        if (email){
                obj['email']=email;
        }
        
        var to_send={
                "info":JSON.stringify(obj),
                "snp_id":tree_id
        }
        $("#main-component-div").hide();
        $("#results-div").html("<p align='center'><img src='/static/img/upload/waiting.gif'></p><p align='center'>Sending Data To Microreact</p>");
        $("#results-div").show();	
        
        Enterobase.call_restful_json("send_microreact","POST",to_send,displayErrorMessage).done(function(data){
                if (data['error']){
                        msg = "There were the following errors in submission<ul>";
                        for (var i in data['log']){
                                        msg+="<li>"+data['log'][i]+"</li>"		
                        }
                        msg+="</ul>";
                        $("#results-div").html(msg);     
                }
                else{
                        $("#results-div").html("Your submission was successful. You can view your project at the following link<br><a target = '_blank' href='"+data['url']+"'>"+data['url']+"</a>");  //>
                        $("#microreact-text").html("View Microreact Project");
                        microreact_data=data['url'];
               }
        });

        
};

function setUpSlider(id,min,max,val,callback){
         $( "#"+id ).slider({
                        orientation: "horizontal",
                        min:min,
                        max: max,
                        value: val,
                        slide:function(){callback();},
                        change: function(e){
                                if (e.originalEvent){
                                        callback();
                                }
                        }
        });      
}


 function initiateLoading(msg){
        $("#graph-div").empty();
        $("#metadata-select").empty();

        showWaitingDialog(msg);
 }
  function showWaitingDialog(msg){
        $("#information-div").modal("show");
        $("#waiting-image").hide();
        $(waiting_spinner.el).show();
        $("#waiting-information").text(msg).show();
 }

        
window.onload= function () {
       
      
                $("#microreact-dialog").dialog({
                buttons:[{
                        text:"Submit",
                        click:function(){
                                if(!$(this).data("job_sent")){
                                        initiateMicroreactJob();
                                        $(this).data("job_sent",true);
                                        $("#microreact-submit").text("Close");
                                }
                                else{
                                        $("#microreact-dialog").dialog("close");
                                        $("#microreact-submit").text("Submit");
                                        $(this).data("job_sent",false);
                                        
                                }                        
                        },
                        id:"microreact-submit"			
                }],
                autoOpen:false,
                width:450,
                title:"Create Microreact Project",
                close:function(){
                        $("#main-component-div").show();
                        $("#results-div").hide();		
                }
        });      
               
        $("#click-mode-select").val("select");
        $("#click-mode-select").on("change",function(e){
                the_tree.click_mode= $(this).val();
        });
        setUpSlider("slider-xscale",50,6000,400,
                                function(){
                                        the_tree.setXScale($("#slider-xscale").slider("value"));
                                });                     
        setUpSlider("slider-yscale",50,10000,600,
                                function(){
                                       the_tree.setYScale($("#slider-yscale").slider("value"));
                                });                  
        setUpSlider("slider-markersize",1,25,6,
                                function(){
                                       the_tree.setMarkerSize($("#slider-markersize").slider("value"));
                                });                 
        setUpSlider("slider-leaffontsize",4,50,12,
                                function(){
                                      the_tree.setLeafLabelTextSize($("#slider-leaffontsize").slider("value"));
                                });                                
        setUpSlider("slider-linkfontsize",4,50,10,
                                function(){
                                     the_tree.setBranchLabelTextSize($("#slider-linkfontsize").slider("value"))
                                });                
        setUpSlider("slider-branch-thickness",1,15,3,
                                function(){
                                     the_tree.setBranchThickness($("#slider-branch-thickness").slider("value"));
                                });                                 
                   
         
        $("#node-label-text").change(function(e){
                var val = $(this).val();
              
                the_tree.setLeafText(val);
        });
        $("#tree-layout-select").change(function(e){
                var val = $(this).val();
                if (val === 'circular'){
                        $("#slider-yscale").slider({
                                min:20,
                                max: 360,
                                value: 360
                        });
                }
                else{
                         $("#slider-yscale").slider({
                                min:50,
                                max: 4000,
                                value: 600
                        });
                }
                the_tree.switchMode(val);
        });               
         
        $("#spinner-maxlinklength").spinner({
                min:100,
                step:100
        });
        $("#button-setmaxlinklength").click(function(){
                var max  = $("#spinner-maxlinklength").val();
                if (max){
                        the_tree.setMaxBranchLength(max);
                }	
        }); 
        
         $("#metadata-select").on("change",function(e){
                the_tree.changeCategory($(this).val());
        });
           
                
       
        $("#spinner-maxlinklength").spinner({
                min:100,
                step:100
        });
        $("#button-setmaxlinklength").click(function(){
                var max  = $("#spinner-maxlinklength").val();
                if (max){
                        the_tree.setMaxBranchLength(max);
                }	
        });
        
                                
        $("#show-link-labels").click(function(e){			
                the_tree.showBranchLabels($(this).is(":checked"))
        });
        
        $("#x-log-scale").click(function(e){			
                the_tree.setXLogScale($(this).is(":checked"))
        });
        $("#show-leaf-labels").click(function(e){
                the_tree.showLeafLabels($(this).is(":checked"));		
        });
        
        $("#show-markers").click(function(e){
                the_tree.showLeafMarkers($(this).is(":checked"));		
        });
        $("#align-markers").click(function(e){
                the_tree.alignLeafLabels($(this).is(":checked"));		
        });

        $("#microreact-div").click(function(e){
                var url = microreact_data;
                if (!url){
                        $('#microreact-dialog').dialog('open');
                }
                else{
                        window.open(url, '_blank');
                }        
        });
        
        $("#collapsed-node-name-input").keydown(function(e){
                if (e.which ==13){
                        var self = $(this);
                        node_id = self.data("node_id");
                        the_tree.setCollapsedNodeName(node_id,self.val());
                        self.val("");
                        self.parent().hide();
                
                }
        });
        var target = document.getElementById('modal-header');
        waiting_spinner= new Spinner({color:'black', lines: 12,top:"13%"}).spin(target);
         if (tree_id){
                setupEnterobasePanel();
                initiateLoading("Waiting");
                getRemoteData();
        }
          $(".mst-menu-title").click(function(e){
                if($(this).prop("disabled") === true) {
                        return;
                }
               var id = $(this).attr("id");
               var this_panel =  $("#"+id+"-panel");
               var icon = $("#"+id+"-icon");
               if  (this_panel.hasClass("open-menu-panel")){
                       this_panel.toggle("50");
                       this_panel.removeClass("open-menu-panel");
                       icon.attr("class","glyphicon glyphicon-menu-right");
               }
               else{
                       this_panel.toggle("50");
                       this_panel.addClass("open-menu-panel");
                       icon.attr("class","glyphicon glyphicon-menu-down");
                       
               }
        });
        
        $("#button-download-svg").click(function(e){
                /*old
                var svg=the_tree.getSVG();
                saveTextAsFile(svg,tree_name+".svg");
                */
                //added by yulei, 20190528
                /*
                let tempEndNode=the_tree.end_nodes;
                let hasPSflag=false;
                for(let i=0;i<tempEndNode.length;i++){
                     let tempId=tempEndNode[i].name;
                     if(totalPrivateStrains.includes(tempId)){
                        hasPSflag=true;
                        break;
                    }
                }
                if(hideshowStatus2=="show" && hasPSflag){
                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);
                }else{
                        var svg=the_tree.getSVG();
                        saveTextAsFile(svg,tree_name+".svg");                
                }
                */
                var svg=the_tree.getSVG();
                let toSendStrainId="";
                if(totalPrivateStrains){
                        for(let item in totalPrivateStrains){
                              let tempId=the_tree.metadata_map[totalPrivateStrains[item]];  
                              if(tempId){
                                        if(toSendStrainId==""){
                                                toSendStrainId=tempId[0];
                                        }else{
                                                toSendStrainId=toSendStrainId+","+tempId[0];
                                        }
                                        
                              }
                        
                        }
                }
                let to_send={
                        database:database,
                        strain_ids:toSendStrainId,
                        return_all_strains_permissions:true
                }
                
                if(toSendStrainId !=""){
                        Enterobase.call_restful_json("/get_access_permission","POST",to_send,displayErrorMessage).done(function(data){
                                if (data){                                
                                        //console.log(data);
                                        let downloadFlag=true;
                                        for(let ids in data){
                                                let idsValue=data[ids];
                                                if(idsValue==0 || idsValue=="0"){
                                                        downloadFlag=false;
                                                }
                                        }
                                        
                                        
                                        if(downloadFlag){
                                                //can download
                                                saveTextAsFile(svg,tree_name+".svg");
                                        }else{
                                                //cannot download, and need to check if hide them or not
                                                let tempEndNode=the_tree.end_nodes;
                                                let hasPSflag=false;
                                                let allPSisGroupNode=true;
                                                
                                                for(let i=0;i<tempEndNode.length;i++){
                                                        let tempId=tempEndNode[i].name;
                                                        if(totalPrivateStrains.includes(tempId)){
                                                                
                                                                hasPSflag=true;
                                                                //break;
                                                        
                                                                if(the_tree.grouped_nodes[tempId]){
                                                                        //do nothing, keep the node
                                                                }else{
                                                                        allPSisGroupNode=false;
                                                                        //break;
                                                                }
                                                        }                                                 
                                                }
                                                if(hideshowStatus2=="show" && hasPSflag){
                                                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);                       
                                                }else{
                                                        //console.log("save newicktree");                     
                                                        //saveTextAsFile(svg,tree_name+".svg");
                                                        //console.log("save newicktree");                     
                                                        //saveTextAsFile(the_tree.getSVG(), "MSTree.svg");
                                                        //when hide, might contains PS, but the PS might be the group node
                                                        if(hasPSflag){
                                                                if(allPSisGroupNode){
                                                                        //all PS are group node
                                                                        saveTextAsFile(svg,tree_name+".svg");
                                                                }else{
                                                                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);
                                                                }
                                                        }else{
                                                                //no PS
                                                                saveTextAsFile(svg,tree_name+".svg");
                                                        }                                                        
                                                }
                                        }
                                }else{
                                        Enterobase.modalAlert("Server might be busy, try it again please.","Warning",false); 
                                }
                                       
                        });                
                }else{
                        saveTextAsFile(svg,tree_name+".svg");
                }                
        
        });
        
        //added by yulei 20190417
        $("#save-phylotree-json").click(function(e){
                //saveTextAsFile(JSON.stringify(the_tree.getTreeAsObject()),"ms_tree.json");
                /*
                let tempEndNode=the_tree.end_nodes;
                let hasPSflag=false;
                for(let i=0;i<tempEndNode.length;i++){
                     let tempId=tempEndNode[i].name;
                     if(totalPrivateStrains.includes(tempId)){
                        hasPSflag=true;
                        break;
                    }
                }
                if(hideshowStatus2=="show" && hasPSflag){
                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);
                }else{
                        console.log("save phylotree");
                }
                */
                let toSendStrainId="";
                if(totalPrivateStrains){
                        for(let item in totalPrivateStrains){
                              let tempId=the_tree.metadata_map[totalPrivateStrains[item]];  
                              if(tempId){
                                        if(toSendStrainId==""){
                                                toSendStrainId=tempId[0];
                                        }else{
                                                toSendStrainId=toSendStrainId+","+tempId[0];
                                        }
                                        
                              }
                        
                        }
                }
                let to_send={
                        database:database,
                        strain_ids:toSendStrainId,
                        return_all_strains_permissions:true
                }
                
                if(toSendStrainId !=""){
                        Enterobase.call_restful_json("/get_access_permission","POST",to_send,displayErrorMessage).done(function(data){
                                if (data){                                
                                        //console.log(data);
                                        let downloadFlag=true;
                                        for(let ids in data){
                                                let idsValue=data[ids];
                                                if(idsValue==0 || idsValue=="0"){
                                                        downloadFlag=false;
                                                }
                                        }
                                        
                                        
                                        if(downloadFlag){
                                                //can download
                                                console.log("save phylotree");
                                        }else{
                                                //cannot download, and need to check if hide them or not
                                                let tempEndNode=the_tree.end_nodes;
                                                let hasPSflag=false;
                                                let allPSisGroupNode=true;
                                                
                                                for(let i=0;i<tempEndNode.length;i++){
                                                        let tempId=tempEndNode[i].name;
                                                        if(totalPrivateStrains.includes(tempId)){
                                                     
                                                                hasPSflag=true;
                                                                //break;
                                                        
                                                                if(the_tree.grouped_nodes[tempId]){
                                                                        //do nothing, keep the node
                                                                }else{
                                                                        allPSisGroupNode=false;
                                                                        //break;
                                                                }
                                                        } 
                                                }
                                                if(hideshowStatus2=="show" && hasPSflag){
                                                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);                       
                                                }else{
                                                        //console.log("save newicktree");                     
                                                        //console.log("save phylotree");
                                                        if(hasPSflag){
                                                                if(allPSisGroupNode){
                                                                        //all PS are group node
                                                                        console.log("save phylotree");
                                                                }else{
                                                                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);
                                                                }
                                                        }else{
                                                                //no PS
                                                                console.log("save phylotree");
                                                        }                                                         
                                                }
                                        }
                                }else{
                                        Enterobase.modalAlert("Server might be busy, try it again please.","Warning",false); 
                                }
                                       
                        });                
                }else{
                        console.log("save phylotree");
                }
        });

        //added by yulei 20190417
        $("#save-phylotree-nwk").click(function(e){
                //saveTextAsFile(the_tree.getTreeAsNewick(),"ms_tree.nwk");
                let toSendStrainId="";
                if(totalPrivateStrains){
                        for(let item in totalPrivateStrains){
                              let tempId=the_tree.metadata_map[totalPrivateStrains[item]];  
                              if(tempId){
                                        if(toSendStrainId==""){
                                                toSendStrainId=tempId[0];
                                        }else{
                                                toSendStrainId=toSendStrainId+","+tempId[0];
                                        }
                                        
                              }
                        
                        }
                }
                let to_send={
                        database:database,
                        strain_ids:toSendStrainId,
                        return_all_strains_permissions:true
                }
                
                if(toSendStrainId !=""){
                        Enterobase.call_restful_json("/get_access_permission","POST",to_send,displayErrorMessage).done(function(data){
                                if (data){                                
                                        //console.log(data);
                                        let downloadFlag=true;
                                        for(let ids in data){
                                                let idsValue=data[ids];
                                                if(idsValue==0 || idsValue=="0"){
                                                        downloadFlag=false;
                                                }
                                        }
                                        
                                        
                                        if(downloadFlag){
                                                //can download
                                                saveTextAsFile(the_tree.nwk,"phylo_tree.nwk");
                                        }else{
                                                //cannot download, and need to check if hide them or not
                                                let tempEndNode=the_tree.end_nodes;
                                                let hasPSflag=false;
                                                let allPSisGroupNode=true;
                                                
                                                for(let i=0;i<tempEndNode.length;i++){
                                                        let tempId=tempEndNode[i].name;
                                                        if(totalPrivateStrains.includes(tempId)){
                                                     
                                                                hasPSflag=true;
                                                                //break;
                                                        
                                                                if(the_tree.grouped_nodes[tempId]){
                                                                        //do nothing, keep the node
                                                                }else{
                                                                        allPSisGroupNode=false;
                                                                        //break;
                                                                }
                                                        } 
                                                }
                                                if(hideshowStatus2=="show" && hasPSflag){
                                                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);                       
                                                }else{
                                                        //console.log("save newicktree");                     
                                                        //saveTextAsFile(the_tree.nwk,"phylo_tree.nwk");
                                                        if(hasPSflag){
                                                                if(allPSisGroupNode){
                                                                        //all PS are group node
                                                                        saveTextAsFile(the_tree.nwk,"phylo_tree.nwk");
                                                                }else{
                                                                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);
                                                                }
                                                        }else{
                                                                //no PS
                                                                saveTextAsFile(the_tree.nwk,"phylo_tree.nwk");
                                                        }
                                                }
                                        }
                                }else{
                                        Enterobase.modalAlert("Server might be busy, try it again please.","Warning",false); 
                                }
                                       
                        });                
                }else{
                        saveTextAsFile(the_tree.nwk,"phylo_tree.nwk");
                }
                
                
                /*
                let tempEndNode=the_tree.end_nodes;
                let hasPSflag=false;
                for(let i=0;i<tempEndNode.length;i++){
                     let tempId=tempEndNode[i].name;
                     if(totalPrivateStrains.includes(tempId)){
                        hasPSflag=true;
                        break;
                    }
                }
                if(hideshowStatus2=="show" && hasPSflag){
                        Enterobase.modalAlert("You cannot download this tree/SVG because it contains pre-release genomes! Please use Export (Select Unreleased Strains and Hide Unreleased) before downloading.","Warning",false);                       
                }else{
                        //console.log("save newicktree");                     
                        saveTextAsFile(the_tree.nwk,"phylo_tree.nwk");
                }
                */
        });        
        
        
        //added by yulei 20190417        
        $("#hideshowPS2").click(function(e){
                 hideshowPS2();
        });
        
        $("#graph-div").on('dblclick', function(e){
                if (the_tree) the_tree.clearSelection('dbclick');
                burshSelectedNodesId=[];
                burshSelectedNodesStrainId=[];
                untickSelectPS2();
        });
};


function saveTextAsFile (text,suggested_name){
            var save = $("<a download><button>Save</button></a>").click(function(){
                    var name=$("#filename").val();
                    if(!name){
                        return;
                    }
                    //windows - don't actually use the file download anchor
                    if(window.navigator.msSaveOrOpenBlob) {
                        var data = new Blob([text], {type: 'text/plain'});
                        window.navigator.msSaveBlob(data,name);
                    }
                    //others
                    else{
                        var data = new Blob([text], {type: 'text/plain'});

                        this.textFile = window.URL.createObjectURL(data);
                        //set file name and contents before click event propogates
                        $(this).attr("download",name);
                        $(this).attr("href",this.textFile);

                    }
                    $(this).parent().dialog().dialog("close");
            });
                            
                            var notification = "<p style='font-size:10'> Some browsers allow you to select a folder after you click the 'Save' Button.<br> Whereas many browsers, such as Chrome, by default save the downloaded file into:<br><b>Windows</b>: <code>'&#92;Users&#92;&lt;username&gt;&#92;Downloads'</code><br><b>Mac</b>: <code>'/Users/&lt;username&gt;/Downloads'</code><br><b>Linux</b>: <code>'home/&lt;username&gt;/Downloads'</code><br></p>";
                            var filenamebar = $("<input title='Suffix will be automatically added in some browsers if you have got a file with the same name.' type='text' id ='filename' value='"+suggested_name+"'>");
            //the actual dailog box
            $("<div id ='savedailog'></div>")
            .html(notification + "File Name: ")
            .dialog({
                autoOpen: true,
                modal: true,
                title: "Save File",
                buttons: {
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $(this).dialog('destroy').remove();
                },
                                    width: "400px",
            }).append(filenamebar).append(save);
    };



</script>


<!--
{% if tree_id%}
{% include 'ms_tree/enterobase_generic_tree.html' %}
{%endif %}
-->





<div id ='microreact-dialog' style = "display:none">
               <div id ="main-component-div">
               <label><b>Project Name:</b></label><br><input id = 'microreact-name'>
               <br>
               <label><b>Email(optional):</b></label><br><input id = 'microreact-email'>
               <br>	
               <label><b>Date Format:</b></label>
               <br>
               <input type="radio" name="date-format" value="YYYY" checked="checked"> Year<br>
               <input type="radio" name="date-format" value="YYYY-MM"> Year/Month<br>
               <input type="radio" name="date-format" value="YYYY-MM-DD"> Year/Month/Day
               <br>
               <label><b>Group By Country</b><input type="checkbox" id="group-by-country">
               </div>
               <div id ='results-div' style='display:none'></div>      
</div>


<div id ='information-div' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-sm">
      <div id ="modal-header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p align='center'><img id ='waiting-image'style = 'display:none' src= 'static/js/img/ms_failed_1.png'></img></p>
        <span id = 'modal-title'></span>
      </div>
      <div class="modal-body">
        <p id ='waiting-information'></p>
                <div  id ='param-panel' style = 'display:none'>
                   <label>Method</label>
                   <select id ='method-select'>
                           <option class='show-tooltip' title='MSTreeV2 uses a directed graph to handle missing data' value='MSTreeV2'>MSTreeV2</option>
                           <option class='show-tooltip' title='A traditional Minimum spanning tree + eBurst weighting' value='MSTree'>MSTree</option>
                           <option class='show-tooltip' title='FastME V2.0 is implemented for Neighbor-Joining phylogeny.' value='NJ'>Neighbour Joining</option>
                   </select>
           </div>
      </div>
      <div class="modal-footer">
        <button id ="modal-ok-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id = "collapsed-node-name" style ="position:absolute;display:none;background-color:gray;padding:5px" >
        <label>Branch Name</label><input id ="collapsed-node-name-input">
</div>

<div id = 'sidebar'>
        <br>
        <span style='font-size:16px 'id ="tree-name-holder"></span>
        <br>
        <br>
        <div id='input-output-panel' class='panel panel-default'>
                <div class ='panel-heading mst-menu-title' id= 'file-menu'> <b id='input-output-title'>Inputs/Outputs</b><span id = 'file-menu-icon' class='glyphicon glyphicon-menu-down'> </span></div>
                <div class = "panel-body" id ='file-menu-panel'>
                               
                        <!--start added by yulei, 20190528 -->
                        <!-- <button id ="save-phylotree-json">Save PhyloTree</button> -->
                        <!-- <span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('save_grapetree');"></span><br> -->
                        <button id ="save-phylotree-nwk">Save as Newick Tree</button><br>
                        <!--end added by yulei, 20190528 -->
                        
                        <button id ='button-download-svg'>Download SVG</button>
                        <div style="cursor:pointer;display:none" id = "microreact-div"><img  id= 'microreact-img' src="/static/img/general/microreact.png" alt = 'Create Microreact Project '><span id ='microreact-text' >Create </span></div> 
                        
                        <!--start added by yulei, 20190528 -->
                        <div style="display:inline-block;" id="sUSDiv2"><hr>Select Unreleased Strains<input type="checkbox" id="selectPS2"  style="margin-left:2px; position:relative; vertical-align:middle; top:-2px;" onclick="selectPS2()"> </div>			                     
                        <div id="hideshowDiv2" style="display:none;top:-5px;position:relative;"><button id="hideshowPS2">Hide Unreleased</button></div> 
                        <!--end added by yulei, 20190528 -->
                </div>
        </div>

        

       <div class='panel panel-default'  style ="margin-bottom:2px">	
               <div class ='panel-heading mst-menu-title' id= 'mst-branch-menu'> <b id>Branches</b><span id = 'mst-branch-menu-icon' class='menu-status-icon glyphicon glyphicon-menu-right'> </span></div>
               <div class = "panel-body" id ='mst-branch-menu-panel'>	
                       <label>X Scale</label>
                       <br>
                       <div id = "slider-xscale" class ="slider-class"></div>
                       <br>
                       <label><input id ='x-log-scale' type="checkbox"  /> Log Scale</label>
                       <br>
                       <label>Max X Distance:</label>
                       <br>
                       <input type='text' style='width:30px;height:15px' id ='spinner-maxlinklength'>
                       <button id ='button-setmaxlinklength'>Go</button>
                       <label>Y Scale</label>
                       <br>
                       <div id = "slider-yscale" class ="slider-class"></div>
                       <br>
                       <label><input id ='show-link-labels'type="checkbox" /> Branch Labels</label>
                       <br>
                       <label>Font Size</label>
                       <br>
                       <div id = "slider-linkfontsize" class = "slider-class"></div>
                       <br>
                       <label>Branch Thickness</label>
                       <br>
                       <div id = "slider-branch-thickness" class = "slider-class"></div>
               </div>
       </div>
       <div class='panel panel-default'  style ="margin-bottom:2px">	
               <div class ='panel-heading mst-menu-title' id= 'mst-marker-menu'> <b id>Leaves</b><span id = 'mst-marker-menu-icon' class='menu-status-icon glyphicon glyphicon-menu-right'> </span></div>
               <div class = "panel-body" id ='mst-marker-menu-panel'>	
                        <label><input id ='show-markers'type="checkbox" checked /> Markers</label>
                       <br>
                        <label>Marker Color</label>
                        <br>
                        <select style="width:140px" id= 'metadata-select'></select>
                        <br>
                       <label>Marker Size</label>
                       <br>
                       <div id = "slider-markersize" class = "slider-class"></div>
                       <br>
                       <label><input id ='align-markers'type="checkbox" />Aligned</label>
                       <br>
                       <label><input id ='show-leaf-labels'type="checkbox"  /> Leaf Labels</label>
                       <br>
                       <label>Font Size</label>
                       <br>
                       <div id = "slider-leaffontsize" class = "slider-class"></div>
                       <br>
                       <label>Label Text</label>
                        <select id = 'node-label-text'></select>
               </div>
       </div>
       <div class='panel panel-default'  style ="margin-bottom:2px">	
               <div class ='panel-heading mst-menu-title' id= 'mst-layout-menu'> <b id>Layout</b><span id = 'mst-layout-menu-icon' class='menu-status-icon glyphicon glyphicon-menu-right'> </span></div>
               <div class = "panel-body" id ='mst-layout-menu-panel'>
                       <p align = 'center'>
                       <select id = 'tree-layout-select'>
                               <option value = 'horizontal'>Horizontal</option>
                               <option value = 'circular'>Radial</option>
                               
                       <select>
                       <p>
                       <p align='center'>
                       <button onclick = 'javascript:the_tree.showSubTree()' id = 'button-create-subtree'> Create SubTree</button>
                       </p>
                       <p align='center'>
                       <button onclick = 'javascript:the_tree.showWholeTree()' id = 'button-show-whole-tree'> Show Whole Tree</button>
                       </p> 
               </div>
       </div>
       
       <br>
       <label> Click Mode </label>
       <p align = 'center'>
       <select id = 'click-mode-select'>
               <option value = 'select'>Select Branches</option>
               <option value = 'swap'>Swap Branches</option>
               <option value = 'collapse'>Collapse Branches</option>
       </select>
       </p>
          <p align='center'>
          
                <!-- <button onclick = 'javascript:the_tree.clearSelection()'> Clear Selection</button> -->
                <!-- Changed by yulei, 20190528 -->
                <button onclick = 'javascript:the_tree.clearSelection();selectPS2(true)'> Clear Selection</button>
        </p>
     

</div>

<div id = "graph-div" class="graph-overlay"></div>
       
        
<!-- below functions added by yulei, 20190528 -->   
<script>
        

        var tempPrivateStrainsNodes=[];//[{},{},- - -], where {} is a node
        var tempPrivateStrainsNodeStrainIds=[];//["20800","20711",- - -]
        //the_tree._getIDsForNode("AL_YA6675AA_AS")        
        
        function selectPS2(untickFlag){                
        
                let checkBox = document.getElementById("selectPS2");	
                if(untickFlag){
                        checkBox.checked = false;
                }                
                
                tempPrivateStrainsNodes=[];
                tempPrivateStrainsNodeStrainIds=[];
                
                for(let nodeIndex in the_tree.end_nodes){
                
                        if(  privateStrain_IdMap[the_tree.end_nodes[nodeIndex]['name']] ){
                                tempPrivateStrainsNodes.push( the_tree.end_nodes[nodeIndex] );
                                tempPrivateStrainsNodeStrainIds.push( privateStrain_IdTostrainIdMap[ the_tree.end_nodes[nodeIndex]['name'] ] );
                        }
                }
                
                hideshowStatus2="show";
                the_tree._updateLeafLabels();
                the_tree._drawBranches();
                
                if(checkBox.checked == true){

                        the_tree.clearSelection();
                        //the_tree._updateLeafLabels();
                        
                        hideshowStatus2="show";
                                        
                        the_tree.highlightIDs(tempPrivateStrainsNodeStrainIds,"showPS");
                        
                        for(let indexOfNode in tempPrivateStrainsNodes){
                                the_tree.selectNodes( tempPrivateStrainsNodes[indexOfNode],"#00ff00" );
                        }     
                        
                        $('#hideshowPS2').text("Hide Unreleased");
                        $('#hideshowDiv2').show();		
                        
                }else{
        
                        //the_tree.undeleteNodes( totalPrivateStrains );
                        //the_tree.undeleteNodes(filteredToDelPSIds);
                        backupAPIData.nwk=backupNWKarry[backupNWKarryIndex];//backupNWK;
                        let new_tree = new D3PTree("graph-div2",backupAPIData,undefined,undefined,true);
                    
                        //the_tree.end_nodes=new_tree.end_nodes;
                        //the_tree.end_nodes_col=new_tree.end_nodes_col;
                        //the_tree.grouped_nodes=new_tree.grouped_nodes;
                        //the_tree.node_map=new_tree.node_map;
                        the_tree.nodes=new_tree.nodes;
                        the_tree.nodes_not_root=new_tree.nodes_not_root;
                        //the_tree.links=new_tree.links;
                        the_tree.newickTree=new_tree.newickTree;
                        the_tree.nwk=new_tree.nwk;
                        the_tree.tree_root=new_tree.tree_root;                        
                        
                        the_tree._updateData();                    
                        //the_tree.clearSelection();
                        the_tree.clearSelection('psClick');//'psClick'
                        d3.select(the_tree.legend_div[0]).select("svg").remove();
                        if(currentCategory){
                                //the_tree._changeCategory(currentCategory);
                                the_tree._changeCategory(currentCategory,backupBurshSelectedNodesId[backupNWKarryIndex],'ps');
                        }                        
                        $('#hideshowDiv2').hide();
                        
                }
                
                //the_tree.backup=tempBackup;
                if(metadata_grid){
                        metadata_grid.updateMetadataTable();//added by yulei, 20190702
                }
         }
        
        
         function hideshowPS2(){	
        
                if(hideshowStatus2=="show"){                        
                        let nwkps=getPSremovedNWK(backupNWKarry[backupNWKarryIndex],totalPrivateStrains);
                        //console.log("nwk0="+nwk);
                        nwkps=removeSemicolon(nwkps);      
                        //console.log("nwk1=",nwk);

                        nwkps=removeEmptyNode(nwkps);
                        nwkps=removeSemicolon(nwkps);
                        //console.log("nwk2=",nwk);
                        backupAPIData.nwk=nwkps;                        
                        
                        the_tree.canvas.selectAll(".link").remove();//remove branch
                        the_tree.canvas.selectAll(".marker").remove();//remove marker
                        the_tree.canvas.selectAll(".end-label").remove();//remove lable               
                          
                        let new_tree = new D3PTree("graph-div2",backupAPIData,undefined,undefined,true);
                    
                        //the_tree.end_nodes=new_tree.end_nodes;
                        //the_tree.end_nodes_col=new_tree.end_nodes_col;
                        //the_tree.grouped_nodes=new_tree.grouped_nodes;
                        //the_tree.node_map=new_tree.node_map;
                        the_tree.nodes=new_tree.nodes;
                        the_tree.nodes_not_root=new_tree.nodes_not_root;
                        //the_tree.links=new_tree.links;
                        the_tree.newickTree=new_tree.newickTree;
                        the_tree.nwk=new_tree.nwk;
                        the_tree.tree_root=new_tree.tree_root;                       
      
                        the_tree._updateData();
                        d3.select(the_tree.legend_div[0]).select("svg").remove();	
                        hideshowStatus2="hide";                
                        if(currentCategory){
                                //the_tree._changeCategory(currentCategory,totalPrivateStrains,'ps');
                                the_tree._changeCategory(currentCategory,backupBurshSelectedNodesId[backupNWKarryIndex],'ps');
                        }
                        
                        $('#hideshowPS2').text("Show Unreleased");

                        
                }else{
                        //the_tree.undeleteNodes( filteredToDelPSIds );
                        //$('#hideshowPS2').text("Hide Unreleased");

                        backupAPIData.nwk=backupNWKarry[backupNWKarryIndex];
                        
                        the_tree.canvas.selectAll(".link").remove();//remove branch
                        the_tree.canvas.selectAll(".marker").remove();//remove marker
                        the_tree.canvas.selectAll(".end-label").remove();//remove lable  
                        
                        let new_tree = new D3PTree("graph-div2",backupAPIData,undefined,undefined,true);
                        /*
                        the_tree.end_nodes=new_tree.end_nodes;
                        the_tree.end_nodes_col=new_tree.end_nodes_col;
                        the_tree.grouped_nodes=new_tree.grouped_nodes;
                        the_tree.node_map=new_tree.node_map;
                        the_tree.nodes=new_tree.nodes;
                        the_tree.nodes_not_root=new_tree.nodes_not_root;
                        the_tree.links=new_tree.links;
                        the_tree.newickTree=new_tree.newickTree;
                        the_tree.nwk=new_tree.nwk;
                        the_tree.tree_root=new_tree.tree_root;                        
                        */
                        the_tree.nodes=new_tree.nodes;
                        the_tree.nodes_not_root=new_tree.nodes_not_root;
                        //the_tree.links=new_tree.links;
                        the_tree.newickTree=new_tree.newickTree;
                        the_tree.nwk=new_tree.nwk;
                        the_tree.tree_root=new_tree.tree_root;                         
                        the_tree._updateData();
                        
                        d3.select(the_tree.legend_div[0]).select("svg").remove();
                        hideshowStatus2="show";
                        if(currentCategory){
                                the_tree._changeCategory(currentCategory,backupBurshSelectedNodesId[backupNWKarryIndex],'ps');
                        }
                        
                        selectPS2();
                }
        
        } 
        
  
        function getPSremovedNWK(inputNWK,toBeRemovedIds){
                                        
                let nwk=inputNWK;
                
                //console.log("nwk="+nwk);//totalPrivateStrains
                toBeRemovedIds.forEach( function(ps){
                        let startP=nwk.indexOf(ps);// SAL_YA6649AA_AS
                        let endP=-1;
                        if(startP !=-1){
                            let findP1=nwk.indexOf(",",startP+1);// SAL_YA6649AA_AS: 1e-07, 
                            let findP2=nwk.indexOf(")",startP+1);// SAL_YA6649AA_AS: 1e-07)
                            if(findP1 !=-1 && findP2 !=-1){
                                endP=findP1<findP2?findP1:findP2;
                            } else if(findP1 ==-1 && findP2 !=-1){
                                endP=findP2;
                            }else if(findP1 !=-1 && findP2 ==-1){
                                endP=findP1;
                            }else{
                                //
                            }
                            if(endP !=-1){
                                let tempS=nwk.slice(startP,endP);
                                nwk=nwk.replace(tempS,'')
                            }
            
            
                        }      

                })          
                //console.log("nwk0="+nwk);
                nwk=removeSemicolon(nwk);      
                //console.log("nwk1=",nwk);        
                nwk=removeEmptyNode(nwk);
                nwk=removeSemicolon(nwk);
                //console.log("nwk2=",nwk);   
                
                return nwk;
      
        }
        


        function removeSemicolon(s){
            let nwk=s;
            //repleac  ",)" ->")"      
            let p1=nwk.indexOf(",)");
            let maxloop1=0;
            let maxloop2=0;
            let maxLp=nwk.length+1;
            
            while(p1 !=-1 && maxloop1<maxLp){
                maxloop1=maxloop1+1;
                nwk=nwk.replace(",)",')');
                p1=nwk.indexOf(",)");
            }

            //replace  "(," -> "(", 
            let p2=nwk.indexOf("(,");
            while(p2 !=-1 && maxloop2<maxLp){
                maxloop2=maxloop2+1;
                nwk=nwk.replace("(,",'(');
                p2=nwk.indexOf("(,");
            }

            return nwk;
        }
        
        function removeEmptyNode(s){
            let n=0;
            let nwk=s;
            //2. replace   ()1:1.93713e-07,   -> ''      
       
            let maxloop=0;
            let startP=nwk.indexOf("()1");
            let maxLp=nwk.length+1;

            while(startP !=-1 && maxloop<maxLp){
                maxloop=maxloop+1;

                let findP1=nwk.indexOf(",",startP+3);
                let findP2=nwk.indexOf(")",startP+3);
                let endP=-1;
                if(findP1 !=-1 && findP2 !=-1){
                    endP=findP1<findP2?findP1:findP2;
                } else if(findP1 ==-1 && findP2 !=-1){
                    endP=findP2;
                }else if(findP1 !=-1 && findP2 ==-1){
                    endP=findP1;
                }else{
                    //
                }
                if(endP !=-1){
                    let tempS=nwk.slice(startP,endP);
                    nwk=nwk.replace(tempS,'')
                }

                nwk=removeSemicolon(nwk);
                startP=nwk.indexOf("()1");
            }

            return nwk;
        }
        
        function showBackNextSelection(){
                if(backupNWKarryIndex==0 && backupNWKarry.length==1){
                        //default not show
                        $("#back-sub").hide();
                        $("#next-sub").hide();
                }else if(backupNWKarryIndex==0 && backupNWKarry.length>1){
                        $("#back-sub").hide();
                        $("#next-sub").show();
                }else if(backupNWKarryIndex>0 && backupNWKarryIndex<(backupNWKarry.length-1)){
                        $("#back-sub").show();
                        $("#next-sub").show();                
                }else if(backupNWKarryIndex>0 && backupNWKarryIndex==(backupNWKarry.length-1)){
                        $("#back-sub").show();
                        $("#next-sub").hide();                
                }                

        } 
        
        
        function copy(aObject) {
            if (!aObject) {
                return aObject;
            }

            let v;
            let bObject = Array.isArray(aObject) ? [] : {};
            for (const k in aObject) {
                v = aObject[k];
                bObject[k] = (typeof v === "object") ? copy(v) : v;
            }

            return bObject;
        }
        
        
        function untickSelectPS2(){
                let checkBox = document.getElementById("selectPS2");	
                checkBox.checked = false;     
                hideshowStatus2="show";
                $('#hideshowDiv2').hide();
        }
        
        
        function updateTotalPSs(burshSelectedIds){
                //backupBurshSelectedNodesId[backupNWKarryIndex]
                
                totalPrivateStrains=totalPrivateStrainsBackup.filter(function(value,index,arr){
                        return burshSelectedIds.includes(value);
                })
                
                if(totalPrivateStrains.length==0){
                        untickSelectPS2();
                        $("#sUSDiv2").hide();
                }else{
                        untickSelectPS2();
                        $("#sUSDiv2").show();                
                }
        }
//end
</script>