{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Enterobase - Register Client Request{% endblock %}

{% block maincontent %}
<div class="col-md-4">
     <d1>
        {{form.csrf_token}}

     {{wtf.form_field(form.client_name)}}
    {{wtf.form_field(form.client_uri)}}
    {{wtf.form_field(form.description)}}
    <input class="btn btn-primary" type="submit" value="Register">
        </d1>



    <br>
    <span style="color: blue;">* Required fields</span>
</div>
{% endblock %}